# Potion
public net.minecraft.world.item.alchemy.PotionBrewing potionMixes
public net.minecraft.world.item.alchemy.PotionBrewing$Mix

# Recipes
public net.minecraft.world.item.crafting.AbstractCookingRecipe ingredient
public net.minecraft.world.item.crafting.AbstractCookingRecipe result
