# Model
public net.minecraft.data.models.model.TexturedModel createDefault(Ljava/util/function/Function;Lnet/minecraft/data/models/model/ModelTemplate;)Lnet/minecraft/data/models/model/TexturedModel$Provider;

# Potion
public net.minecraft.world.item.alchemy.PotionBrewing potionMixes
public net.minecraft.world.item.alchemy.PotionBrewing$Mix

# Recipes
public net.minecraft.world.item.crafting.AbstractCookingRecipe ingredient
public net.minecraft.world.item.crafting.AbstractCookingRecipe result
